h1{
    text-align: center;
    margin: auto;
    margin-top: 30px;

}
h4{
    padding-top: 20px;
}
hr{
    text-align: center;
    width: 500px;
    height: 3px;
    background-color: black;
    border-radius: 10px 10px 10px 10px;
}
body{
    text-align: center;
    font-family: Verdana, sans-serif;
}
button, .submit{
    background-color: rgb(13, 126, 254); 
    width: 250px;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
}
a{
    text-decoration:none;
    color: black;
    width: 250px;
    border: none;
    color: black;
    padding: 15px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    background-color: rgb(135, 206, 235);
}
a:hover, button:hover, .submit:hover {
    background-color: rgb(20, 84, 222);
}
.input1{
    padding-left: 50px;  
}
p{
    font-weight: bold;
} 